# Python Basics

In [ ]:
#  Write a Python program to print "Hello, World!
print("Hello, World!")

Hello, World!

In [ ]:
# Write a Python program that displays your name and age ?
name ="Madhav Nagalgidde"
age = 22
print("Name :",name)
print("Age :",age)

Name : Madhav Nagalgidde
Age : 22

In [ ]:
#  Write code to print all the pre-defined keywords in Python using the keyword library ?
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

Enter a word: is
'is' is a Python keyword.

In [ ]:
#  Create a list and tuple in Python, and demonstrate how attempting to change an element works differently for each.
my_tuple = ("madhav",23,"shailesh","Nagalgidde")
print(type(my_tuple))
my_list = ["malegaon", "degloor","karegaon","Nanded"]
print(type(my_list))

# Attempting to change an element in the tuple will raise a TypeError because tuples are immutable
# my_tuple[0] = "malegaon"  # This line caused a TypeError and has been commented out

# Changing an element in the list is allowed because lists are mutable
my_list[0] = "Madhav"
print(my_list)

<class 'tuple'>
<class 'list'>
['Madhav', 'degloor', 'karegaon', 'Nanded']

In [ ]:
# Write a function to demonstrate the behavior of mutable and immutable arguments.

def demonstrate_arguments(immutable_arg, mutable_arg):
  """
  Demonstrates the behavior of mutable and immutable arguments in a function.

  Args:
    immutable_arg: An immutable object (e.g., integer, string, tuple).
    mutable_arg: A mutable object (e.g., list, dictionary, set).
  """
  print("Inside function before modification:")
  print("Immutable argument:", immutable_arg)
  print("Mutable argument:", mutable_arg)

  # Attempting to modify immutable argument (creates a new object)
  immutable_arg = immutable_arg + 1
  print("Immutable argument after modification inside function:", immutable_arg)

  # Modifying mutable argument (modifies the original object)
  mutable_arg.append("modified")
  print("Mutable argument after modification inside function:", mutable_arg)

# Demonstrate with an immutable and mutable object
x = 10
y = [1, 2, 3]

print("Outside function before calling:")
print("x (immutable):", x)
print("y (mutable):", y)

demonstrate_arguments(x, y)

print("Outside function after calling:")
print("x (immutable):", x)
print("y (mutable):", y)

Outside function before calling:
x (immutable): 10
y (mutable): [1, 2, 3]
Inside function before modification:
Immutable argument: 10
Mutable argument: [1, 2, 3]
Immutable argument after modification inside function: 11
Mutable argument after modification inside function: [1, 2, 3, 'modified']
Outside function after calling:
x (immutable): 10
y (mutable): [1, 2, 3, 'modified']

In [ ]:
# Write a program that performs basic arithmetic operations on two user-input numbers.?
x = int(input("Enter the first number :"))
y = int(input("Enter the second number :"))

# Arthematic operations
print("ARTHEMAIC OPERATION")
print("Additon :",x + y)
print("multiplication :",x*y)
print("division :",x/y)
print("footer division :",x//y)
print("modulos :",x%y)

Enter the first number :15
Enter the second number :3
ARTHEMAIC OPERATION
Additon : 18
multiplication : 45
division : 5.0
footer division : 5
modulos : 0

In [ ]:
# Write a program to demonstrate the use of logical operators. ?

# Define some boolean variables
is_python_fun = True
is_coding_easy = False
has_learned_logical_operators = True

# Demonstrate the 'and' operator
print("Using 'and' operator:")
print("Is Python fun AND is coding easy?", is_python_fun and is_coding_easy)
print("Is Python fun AND has learned logical operators?", is_python_fun and has_learned_logical_operators)

# Demonstrate the 'or' operator
print("\nUsing 'or' operator:")
print("Is Python fun OR is coding easy?", is_python_fun or is_coding_easy)
print("Is coding easy OR has learned logical operators?", is_coding_easy or has_learned_logical_operators)

# Demonstrate the 'not' operator
print("\nUsing 'not' operator:")
print("NOT is Python fun:", not is_python_fun)
print("NOT is coding easy:", not is_coding_easy)

# You can also use logical operators with expressions
x = 10
y = 5
print("\nUsing logical operators with expressions:")
print("(x > 5) and (y < 10):", (x > 5) and (y < 10))
print("(x < 5) or (y < 10):", (x < 5) or (y < 10))
print("not (x > y):", not (x > y))

Using 'and' operator:
Is Python fun AND is coding easy? False
Is Python fun AND has learned logical operators? True

Using 'or' operator:
Is Python fun OR is coding easy? True
Is coding easy OR has learned logical operators? True

Using 'not' operator:
NOT is Python fun: False
NOT is coding easy: True

Using logical operators with expressions:
(x > 5) and (y < 10): True
(x < 5) or (y < 10): True
not (x > y): False

In [ ]:
# Write a Python program to convert user input from string to integer, float, and boolean types ?
str_int= input("Enter the number:")
print("str_int :",type(str_int))
print(str_int)
str_float = input("Enter the float :")
print("str_float :",type(str_float))
str_boolean = input("Enter the boolean :")
print("str_boolean :",type(str_boolean))


print("After the type casting")
str_int = int(str_int)
print("str_int :",type(str_int))
print(str_int)
str_float = float(str_float)
print("str_float :",type(str_float))
str_boolean = bool(str_boolean)
print("str_boolean :",type(str_boolean))
print(str_boolean)

Enter the number:234
str_int : <class 'str'>
234
Enter the float :342.3
str_float : <class 'str'>
Enter the boolean :1
str_boolean : <class 'str'>
After the type casting
str_int : <class 'int'>
234
str_float : <class 'float'>
str_boolean : <class 'bool'>
True

In [ ]:
# Write code to demonstrate type casting with list elements

# Create a list with elements of different types (as strings for demonstration)
string_list = ["1", "2", "3", "4.5", "5"]
print("Original list:", string_list)
print("Types of elements in original list:")
for item in string_list:
  print(f"- {item}: {type(item)}")

# Type cast elements to integers (will cause an error for "4.5")
# int_list = [int(item) for item in string_list] # This would raise a ValueError

# Type cast elements to floats
float_list = [float(item) for item in string_list]
print("\nList after type casting to float:", float_list)
print("Types of elements in float list:")
for item in float_list:
  print(f"- {item}: {type(item)}")

# Example of type casting a list of integers to strings
int_list = [10, 20, 30, 40]
print("\nOriginal integer list:", int_list)
string_from_int_list = [str(item) for item in int_list]
print("List after type casting integers to strings:", string_from_int_list)
print("Types of elements in string_from_int_list:")
for item in string_from_int_list:
  print(f"- {item}: {type(item)}")

Original list: ['1', '2', '3', '4.5', '5']
Types of elements in original list:
- 1: <class 'str'>
- 2: <class 'str'>
- 3: <class 'str'>
- 4.5: <class 'str'>
- 5: <class 'str'>

List after type casting to float: [1.0, 2.0, 3.0, 4.5, 5.0]
Types of elements in float list:
- 1.0: <class 'float'>
- 2.0: <class 'float'>
- 3.0: <class 'float'>
- 4.5: <class 'float'>
- 5.0: <class 'float'>

Original integer list: [10, 20, 30, 40]
List after type casting integers to strings: ['10', '20', '30', '40']
Types of elements in string_from_int_list:
- 10: <class 'str'>
- 20: <class 'str'>
- 30: <class 'str'>
- 40: <class 'str'>

In [1]:
# Write a program that checks if a number is positive, negative, or zero

number = float(input("Enter a number: "))

if number > 0:
  print("The number is positive.")
elif number < 0:
  print("The number is negative.")
else:
  print("The number is zero.")

Enter a number: 24
The number is positive.

In [11]:
# . Write a for loop to print numbers from 1 to 10. ?
for i in range(1,11,1):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [15]:
#  Write a Python program to find the sum of all even numbers between 1 and 50. ?
sum = 0
for i in range(2,51,2):
  sum+=i
print(f"{sum} is the sum of 1 to 50 even numbers")

650 is the sum of 1 to 50 even numbers

In [22]:
# write a program to reverse a string using a while loop.
str = input("Enter the string :")
if(str == ""):
  print("String is empty")
else:
  n = len(str)-1
  while(n>=0):
    print(str[n],end="")
    n-=1

Enter the string :Madhav
vahdaM

In [25]:
# Write a Python program to calculate the factorial of a number provided by the user using a while loop.
n = int(input("enter the number :"))
if(n == ""):
  print("n is empty")
else:
  ans =1
  while(n > 1):
    ans *= n
    n-=1
  print(ans)

enter the number :5
120